.myCalculator {
  width: 315px;
  margin: auto;
  padding: 20px;
  background-color: 	 #808080;
  font-family: "Orbitron", sans-serif;
  border-radius: 10px;
}
.buttons {
  display: inline-block;
  margin: 23px 15px;
}
.btn {
  background:#B2BEB5;
  color: black;
  padding: 5%;
  border: 0px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
  outline: none;
}
.btn:focus {
  background: white;
  color: #323232;
}
.btn-calc {
  background:#43AAC1  ;
  color:white;
}
.btn-action {
  background: #43AAC1;
  color:white;
}

.btn-0 {
  background:#43AAC1;
  color:white;
  border: 0px;
  margin: 5px;
  padding: 5%;
  width: 130px;
  border-radius: 30px;
  height: 60px;
  font-size: 25px;
  cursor: pointer;
  outline: none;
}
.btn-0:focus {
  background: #EEEEFF;
  color: black;
  
}
.result {
  width: 100%;
  height: 62px;
  margin-top: 30px;
  background:	#E5E4E2;
  border-radius:10px;
}

.result p {
  text-align: right;
  font-size: 26px;
  margin-bottom: 4px;
  padding-top: 14px;
  padding-right: 10px;
}
